{% extends 'indeed_jobs/charts_base.html' %}

{% block chart %}
     <div id="chart_2">
    </div>
    <div>
        {% for job in jobs.all %}
            <p>{{ job.location }} {{job.num_jobs}} </p>
        {% endfor %}
    </div>

{% endblock %}
{% block script %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(function() {
            $(".chart_1").removeClass("active");
            $(".chart_2").addClass("active");
            $(".chart_3").removeClass("active");

            var job_list = {{ jobs|safe }};
            var jobs_by_location = [];
            jobs_by_location.push(["Location", "Job Count", { role: 'annotation' }]);
            job_list.forEach(function (job) {
                jobs_by_location.push([job['location'], job['num_jobs'], job['num_jobs']])
            })
            console.log(3, jobs_by_location);

            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                // Define the chart to be drawn.

                var data = google.visualization.arrayToDataTable(jobs_by_location);
                console.log(jobs_by_location);

                 var options = {
                    title: 'Jobs By Location',
                     height:1000,
                    chartArea: {width: '80%'},
                    hAxis: {
                      title: 'Job Count',
                      minValue: 0
                    },
                    vAxis: {
                      title: 'Location '
                    }
                  };

                // Instantiate and draw the chart.
                var chart = new google.visualization.BarChart(document.getElementById("chart_2"));
                chart.draw(data, options);
            }
        });
    </script>
{% endblock %}
