{% extends 'base.html' %}
{% block content %}
    <h1 class = "text-center" style="font-weight: bold">Team Profile</h1>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 2%">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-weight: bold">Himanshu Singh</h3>
                    <h4>Web Developer</h4>
                    <h6>Bachelor in Computer Science</h6>
                    <h6>Experience in Web Development with Python and Golang.</h6>
                </div>
            </div>
        </div>
         <div class="col-sm-4" style="margin-top: 2%">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-weight: bold">Deepali Sharma</h3>
                    <h4>Data Analyst</h4>
                </div>
            </div>
        </div>
         <div class="col-sm-4" style="margin-top: 2%">
            <div class="card">
                <div class="card-body">
                <h3 class="card-title" style="font-weight: bold">Sonali Jain</h3>
                <h4>Business Analyst</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
