
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
       <div class="jumbotron">
          <h1>Big Data Jobs Analysis from ca.indeed.com</h1>
          <p>Welcome the the website!</p>
           <p>This project is about doing an analysis of Job Roles related to Big Data Industry.</p>
           <p>Team Members - Himanshu Singh, Deepali Sharma, Sonali Jain</p>
          <p><a class="btn btn-primary btn-lg" onclick="window.open('https://ca.indeed.com', '_blank')" role="button" style="color: white">Go to Indeed</a></p>
        </div>
    {% endblock %}


</body>
</html>
